<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website About Page</title>

  <link rel="stylesheet" href="/stylesheets/all.min.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">

  <link rel="stylesheet" href="/stylesheets/nav.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/about.page.css">

</head>
<body>
  <header>

    <div class="about-header">
      <section class="nav">
      </section>

      <h1 class="hero-text">About us</h1>

    </div>
  </header>

  <main>

    <div class="first-head">
      <hr class="first-hr">

      <h2>About Us</h2>
    </div>

    <section class="about">
      <div class="about-us">

        <div class="about-ceo">

          <div class="ceo-img">
            <img src="/webimage/ceo.jpg" alt="">
          </div>

          <div class="ceo-des">
            <div class="flex-head1">
              <hr />

              <h2>chief executive office(CEO)</h2>
            </div>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid quis sunt temporibus incidunt delectus? Blanditiis deleniti soluta maiores suscipit fugit perspiciatis libero illum. Soluta quo consequatur totam neque ad.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid quis sunt temporibus incidunt delectus? Blanditiis deleniti soluta maiores suscipit fugit perspiciatis libero illum. Soluta quo consequatur totam neque ad.</p>
          </div>
        </div>

        <div class="team-about">

          <div class="team-img">
            <img src="/webimage/about-team.jpg" alt="">
          </div>
      
          <div class="team-des">

            <div class="flex-head2">
              <h2>our team</h2>

              <hr />
            </div>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut autem numquam velit officiis animi beatae quisquam assumenda dolores. Quo sint explicabo omnis aut doloribus accusamus soluta quia facere labore officiis.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid quis sunt temporibus incidunt delectus? Blanditiis deleniti soluta maiores suscipit fugit perspiciatis libero illum. Soluta quo consequatur totam neque ad.</p>
          </div>

        </div>

        <div class="second-head">
          <hr>

          <h2>more about us</h2>
        </div>

        <div class="more-about">

          <div class="vision">

            <h2>our vision</h2>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad voluptate numquam nam deserunt est quasi magnam eaque fuga! Quod, consequuntur iste? Eum consequatur odit asperiores fuga sit, amet debitis sapiente? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid quis sunt temporibus incidunt delectus? Blanditiis deleniti soluta maiores suscipit fugit perspiciatis libero illum. Soluta quo consequatur totam neque ad.</p>

          </div>

          <div class="mission">

            <h2>our mission</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi velit iure magnam repudiandae, quasi exercitationem aspernatur tenetur fugit sed aliquid repellendus odit consequuntur cum suscipit consequatur repellat soluta illum iusto. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid quis sunt temporibus incidunt delectus? Blanditiis deleniti soluta maiores suscipit fugit perspiciatis libero illum. Soluta quo consequatur totam neque ad.</p>

          </div>

        </div>
      </div>
    </section>

  </main>

  <footer class="footer">
  </footer>
  <section class="mobile-nav" id="mobile-nav">
  </section>

  <script src="/javascript/nav.js"></script>
  <script src="/javascript/mobileNav.js"></script>
  <script src="/javascript/mobile.nav.js"></script>
  <script src="/javascript/footer.js"></script>
</body>
</html>