<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Construction Services Page</title>

  <link rel="stylesheet" href="/stylesheets/all.min.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">

  <link rel="stylesheet" href="/stylesheets/construction.page.css">
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  
</head>
<body>
  
  <header>

    <div class="const-header">

        <section class="nav">
        </section>

        <div class="hero-text">
          <h2>Construction services</h2>
          <h1>Flexible and low Budget</h1>
        </div>

    </div>
  
  </header>

  <main>

    <section class="man">
      <div class="man-sec">

        <h2>Man power supply</h2>

        <div class="man-img">
          <img src="/webimage/man-power.jpg" alt="">
        </div>

        <div class="man-des">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt.</p>
        </div>
      </div>
    </section>

    <section>
      <div class="civil-sec">

        <h2>Civil Engineering</h2>

        <div class="civil-img">
          <img src="/webimage/civil.jpg" alt="">
        </div>

        <div class="civil-des">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt.</p>
        </div>
      </div>
    </section>

    <section class="oil">
      <div class="oil-sec">

        <h2>Oil and Gas Plants</h2>

        <div class="oil-img">
          <img src="/webimage/oil-gas.jpg" alt="">
        </div>

        <div class="oil-des">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt.</p>
        </div>
      </div>
    </section>

    <section>
      <div class="pipe-sec">

        <h2>Pipeline construction and installation</h2>

        <div class="pipe-img">
          <img src="/webimage/pipe-fitting.jpg" alt="">
        </div>

        <div class="pipe-des">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt.</p>
        </div>
      </div>
    </section>

    <section class="rig">
      <div class="rig-sec">

        <h2>Rig moverment</h2>

        <div class="rig-img">
          <img src="/webimage/rig-movement.jpg" alt="">
        </div>

        <div class="rig-des">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt.</p>
        </div>
      </div>
    </section>

    <section>
      <div class="designs-sec">

        <h2>Interior designs</h2>

        <div class="designs-img">
          <img src="/webimage/interior-design.jpg" alt="">
        </div>

        <div class="designs-des">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt.</p>
        </div>
      </div>
    </section>

    <section class="art">
      <div class="art-sec">

        <h2>Art and Crafts</h2>

        <div class="art-img">
          <img src="/webimage/art-craft.jpg" alt="">
        </div>

        <div class="art-des">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere hic quam neque eius vitae veritatis, voluptatum magni perferendis omnis ipsum provident nobis, porro, tenetur unde ullam deserunt quidem earum incidunt.</p>
        </div>
      </div>
    </section>

    <section>
      <div class="const-cta-sec">
        <div class="const-cta">
          <h2>Contact us</h2>

          <div class="const">
            <h3>Get in touch with us for any of our construction services</h3>

            <a href="contact.page.html">Contact us</a>
          </div>
        </div>
      </div>
    </section>

  </main>

  <footer class="footer">
  </footer>
  <section class="mobile-nav" id="mobile-nav">
  </section>

  <script src="/javascript/nav.js"></script>
  <script src="/javascript/mobileNav.js"></script>
  <script src="/javascript/footer.js"></script>
  <script src="/javascript/mobile.nav.js"></script>
</body>
</html>