<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website Interior and Exterior Design Page</title>

  <link rel="stylesheet" href="/stylesheets/all.min.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">

  <link rel="stylesheet" href="/stylesheets/design.page.css">
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">

</head>
<body>
  
  <header>

    <div class="design-header">

        <section class="nav">
        </section>

        <div class="hero-text">
          <h1>Interior Designs</h1>
        </div>

    </div>
  
  </header>

  <main>

    <section>

      
      <div class="design-des">
        
        <h2>Our Interior Designs</h2>

        <div class="design-img">

          <div>
            <img src="/webimage/design-1.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-2.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-3.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-4.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-5.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-6.jpg">
          </div>
  
        </div>
          <div class="des">
            <h2>Our Interior Designs</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A distinctio est, eaque architecto cumque molestias necessitatibus delectus non debitis aliquid tempore dolores ab! Provident qui atque reiciendis. Aliquam, maxime ea?Lorem ipsum dolor sit amet consectetur adipisicing elit. A distinctio est, eaque architecto cumque molestias necessitatibus delectus non debitis aliquid tempore dolores ab! Provident qui atque reiciendis. Aliquam, maxime ea?</p>
          </div>

      </div>

     

      <div class="second-design-des">
        <h2>What we can do</h2>
      
        <div class="second-design-img">

          <div>
            <img src="/webimage/design-1.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-2.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-3.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-4.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-5.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-6.jpg">
          </div>
  
        </div>
          <div class="des">
            <h2>What we can do</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A distinctio est, eaque architecto cumque molestias necessitatibus delectus non debitis aliquid tempore dolores ab! Provident qui atque reiciendis. Aliquam, maxime ea?Lorem ipsum dolor sit amet consectetur adipisicing elit. A distinctio est, eaque architecto cumque molestias necessitatibus delectus non debitis aliquid tempore dolores ab! Provident qui atque reiciendis. Aliquam, maxime ea?</p>
          </div>
        
      </div>

      

      <div class="third-design-des">
        <h2>What We Have Done</h2>
        <div class="third-design-img">

          <div>
            <img src="/webimage/design-1.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-2.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-3.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-4.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-5.jpg">
          </div>
  
          <div>
            <img src="/webimage/design-6.jpg">
          </div>

        </div>
          <div class="des">
            <h2>What We Have Done</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A distinctio est, eaque architecto cumque molestias necessitatibus delectus non debitis aliquid tempore dolores ab! Provident qui atque reiciendis. Aliquam, maxime ea?Lorem ipsum dolor sit amet consectetur adipisicing elit. A distinctio est, eaque architecto cumque molestias necessitatibus delectus non debitis aliquid tempore dolores ab! Provident qui atque reiciendis. Aliquam, maxime ea?</p>
          </div>

      </section>
  
      <section>
  
        <div class="cta-sec">
          <div class="design-cta-sec">
            <h2>Contact for our labour supplies</h2>
    
            <div class="design-cta">
              <h3>Get in touch with us for labour supply contracts</h3>
    
              <a href="contact.page.html">Contact us</a>
            </div>
          </div>
        </div>
      </div>
      
    </section>
  </main>

  <footer class="footer">
  </footer>
  <section class="mobile-nav" id="mobile-nav">
  </section>

  <script src="/javascript/nav.js"></script>
  <script src="/javascript/mobileNav.js"></script>
  <script src="javascript/mobile.nav.js"></script>
  <script src="javascript/footer.js"></script>
</body>
</html>