<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website Job Recruitment Page</title>

  <link rel="stylesheet" href="/stylesheets/all.min.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">

  <link rel="stylesheet" href="/stylesheets/recruitment.page.css">
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">

</head>
<body>
  
  <header>

    <div class="recruitment-header">
      <section class="nav">
      </section>

      <div class="hero-text">
        <h1>Jobs we recruit for</h1>
      </div>

    </div>

  
  </header>

  <main>

    <!-- jobs sections -->
    <section>

      <h2>Our list of jobs</h2>

      <div class="recruitment-job">
        <div>
          <img src="/webimage/scaffolding.jpg" alt="">
          <p>Scaffolding</p>
        </div>

        <div>
          <img src="/webimage/welding.jpg" alt="">
          <p>Welder/Structural welders</p>
        </div>

        <div>
          <img src="/webimage/erectors.jpg" alt="">
          <p>Erectors</p>
        </div>

        <div>
          <img src="/webimage/riggers.jpg" alt="">
          <p>Riggers</p>
        </div>

        <div>
          <img src="/webimage/insulators.jpg" alt="">
          <p>Insulators</p>
        </div>

        <div>
          <img src="/webimage/safty.jpg" alt="">
          <p>Safy officers</p>
        </div>

        <div>
          <img src="/webimage/gas-cutting.jpg" alt="">
          <p>Gas cutters</p>
        </div>

        <div>
          <img src="/webimage/pipe-fitting.jpg" alt="">
          <p>Mesh/pipe fitters</p>
        </div>

        <div>
          <img src="/webimage/grinding.jpg" alt="">
          <p>Grinders</p>
        </div>

        <div>
          <img src="/webimage/defensive-driving.jpg" alt="">
          <p>Defensive drivers</p>
        </div>

        <div>
          <img src="/webimage/carpentering.jpg" alt="">
          <p>Carpenters</p>
        </div>

        <div>
          <img src="/webimage/mason-men.jpg" alt="">
          <p>Mason men</p>
        </div>

        <div>
          <img src="/webimage/hand-brush-painter.jpg" alt="">
          <p>Hand brush painters</p>
        </div>

        <div>
          <img src="/webimage/electricians.jpg" alt="">
          <p>Electricians</p>
        </div>

        <div>
          <img src="/webimage/helpers.jpg" alt="">
          <p>Helpers</p>
        </div>
      </div>

      <div class="avialable-jobs">

        <h2>Avialable jobs</h2>
        <div>
          <ul>
            <li>No avialable jobs</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- call to action section -->
    <section>
      <div class="cta-container">
        <div class="recruitment-cta">
          
          <h3>Apply for our avialable jobs</h3>

          <div>
            <p>Fill out the job application form here online to be recruited for your applied job</p>
            <a href="job.application.page.html">Apply here</a>
          </div>
        </div>
      </div>
      
    </section>
  </main>

  <footer class="footer">
  </footer>
  <section class="mobile-nav" id="mobile-nav">
  </section>

  <script src="/javascript/nav.js"></script>
  <script src="/javascript/mobileNav.js"></script>
  <script src="/javascript/mobile.nav.js"></script>
  <script src="/javascript/footer.js"></script>
</body>
</html>