<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website Services Page</title>

  <link rel="stylesheet" href="/stylesheets/all.min.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">

  <link rel="stylesheet" href="/stylesheets/services.page.css">
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  
</head>
<body>
  <header>

    <div class="services-header">

        <section class="nav">
        </section>

        <div class="hero-text">
          <h1>See our services</h1>
        </div>

    </div>
  
  </header>

  <main>

    <h2>Our list of services</h2>

    <section class="construction-section">
      <div class="construction-details">

        <div class="construction-img">
          <img src="/webimage/construction.jpg" alt="">
        </div>
        <div class="construction-des">
          <h3>Construction</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perspiciatis minima ducimus facilis harum. Ex dignissimos odit porro! Doloremque dolore quae quasi quas esse aperiam reprehenderit ipsa, provident cum id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perspiciatis minima ducimus facilis harum. Ex dignissimos odit porro! Doloremque dolore quae quasi quas esse aperiam reprehenderit ipsa, provident cum id.</p>

        <a href="construction.page.html">See more</a>
        </div>
      </div>
    </section>

    <section class="training-section">
      <div class="training-details">

        <div class="training-img">
          <img src="/webimage/training.jpg" alt="">
        </div>

        <div class="training-des">
          <h3>Training academy</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perspiciatis minima ducimus facilis harum. Ex dignissimos odit porro! Doloremque dolore quae quasi quas esse aperiam reprehenderit ipsa, provident cum id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perspiciatis minima ducimus facilis harum. Ex dignissimos odit porro! Doloremque dolore quae quasi quas esse aperiam reprehenderit ipsa, provident cum id.</p>     
        </div>
      </div>
    </section>

    <section class="recruitment-section">
      <div class="recruitment-details">

        <div class="recruitment-img">
          <img src="/webimage/jobs.jpg" alt="">
        </div>
        <div class="recruitment-des">
          <h3>Job recruitment</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perspiciatis minima ducimus facilis harum. Ex dignissimos odit porro! Doloremque dolore quae quasi quas esse aperiam reprehenderit ipsa, provident cum id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perspiciatis minima ducimus facilis harum. Ex dignissimos odit porro! Doloremque dolore quae quasi quas esse aperiam reprehenderit ipsa, provident cum id.</p>

          <a href="jobrecruitment.page.html">See more</a>
        </div>
      </div>
    </section>

    <section class="design-section">
      <div class="design-details">

        <div class="design-img">
          <img src="/webimage/interior-design.jpg" alt="">
        </div>
        <div class="design-des">
          <h3>Interior Designs</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perspiciatis minima ducimus facilis harum. Ex dignissimos odit porro! Doloremque dolore quae quasi quas esse aperiam reprehenderit ipsa, provident cum id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perspiciatis minima ducimus facilis harum. Ex dignissimos odit porro! Doloremque dolore quae quasi quas esse aperiam reprehenderit ipsa, provident cum id.</p>

          <a href="interiordesign.page.html">See more</a>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
  </footer>
  <section class="mobile-nav" id="mobile-nav">
  </section>

  <script src="/javascript/nav.js"></script>
  <script src="/javascript/mobileNav.js"></script>
  <script src="/javascript/mobile.nav.js"></script>
  <script src="/javascript/footer.js"></script>
</body>
</html>